<!--div class="navigation">
	<div class="menuBar">
		<ul class="nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">Project</a></li>
			<li><a href="#">Caps</a></li>
			<li><a href="#">Logs</a></li>
			<li><a href="#">Feedback</a></li>
			<li style="float:right;"><a href="{{ url_for('Users.logout') }}">Logout <i>{{user.username}}</i> from Iris</a></li>
		</ul>
	</div>
</div-->
<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <!--div class="navbar-header">
      <a class="navbar-brand" href="#">Iris</a>
    </div-->
    <div>
      	<ul class="nav navbar-nav">
	        <!--li class="active"><a href="#">Home</a></li-->
	        <li><a href="{{url_for('Home.show_home')}}">Home</a></li>
			<li><a href="#">Project</a></li>
			<li><a href="#">Caps</a></li>
			<li><a href="#">Logs</a></li>
			<!--li><a href="#">Feedback</a></li-->
			<!--li style="float:right;"><a href="{{ url_for('Users.logout') }}">Logout <i>{{user.username}}</i> from Iris</a></li-->
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}}
	          <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="{{ url_for('Users.logout') }}">Logout</a></li>
	            <li data-toggle="modal" data-target="#changePassword"><a>Change password</a></li>
	          </ul>
	        </li>
      </ul>
    </div>
  </div>
</nav>