{% from "macros.html" import render_field %}
<div class="modal fade" id="uploadProfilePicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">
        			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        		</button>
          		<h4 class="modal-title" id="myModalLabel">Upload profile picture</h4>
	      	</div>
	      	<div class="modal-body">
	      		<form role="form" action="{{url_for('Users.upload')}}" method="post" enctype="multipart/form-data">
				 	{{ render_field(upload_picture_form.image, placeholder="Image", autofocus="", accept="image/*") }}
			        <div class="modal-footer">
				        <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->
				        <button type="submit" class="btn btn-primary">Upload</button>
				    </div>
		    	</form>
	      </div>
    	</div>
  	</div>
</div>

<div class="modal fade" id="uploadComplete" tabindex="-1" role="dialog" aria-labelledby="MyModalTitle" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">
        			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        		</button>
          		<h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      	</div>
	      	<div class="modal-body">
	      		Ayan, okay na
		    	<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Yey</button>
			    </div>
	      </div>  
    	</div>
  	</div>
</div>