{% from "macros.html" import render_field %}

<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Change password</h4>
            </div>
            <div class="modal-body">
                <form class="form-signin" role="form" action="{{url_for('Users.change_password')}}" method="post"> 
                    <center>
                        <h2 class="form-signin-heading">Change Password</h2>
                    </center>
                    <br/>
                    {{ form.csrf_token }}
                    {{ render_field(form.old_password, placeholder="Current password", autofocus="") }}
                    <br/>
                    {{ render_field(form.new_password, placeholder="New password") }}
                    <br/>
                    {{ render_field(form.confirm_password, placeholder="Confirm password") }}
                    <br/>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <ul id="errors">
                                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                                {% if errors %}
                                <!--div-->
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                <!--/div-->
                                {% endif %}
                                {% endwith %}
                            <ul>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->
  